:root {
  margin: 0;
  padding: 0;
  --px: 10px;
}

body {
  background-color: #113;
  color: #fff;
  font-family: 'Ubuntu', 'REM', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

eve-server-status {
  display: block;
  padding: 15px;
  line-height: 24px;
  padding-top: 0px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid white;
  background-color: transparent;
  background-image: 
  linear-gradient(0deg, rgba(0, 0, 0, .1) 0%, transparent 40%), 
  linear-gradient(180deg, rgba(255, 255, 255, .1) 0%, transparent 40%);
  background-blend-mode: difference;
  width: 350px;
  transition: ease;
  transition-duration: 300ms;
}

eve-server-status:hover {
  box-shadow: 
  0 0 0px 2px rgba(255, 255, 255, .05),
  0 0 1px 4px rgba(255, 255, 255, .045),
  0 0 2px 6px rgba(255, 255, 255, .04),
  0 0 3px 8px rgba(255, 255, 255, .035),
  0 0 4px 10px rgba(255, 255, 255, .03),
  0 0 5px 12px rgba(255, 255, 255, .025),
  0 0 6px 14px rgba(255, 255, 255, .02),
  0 0 7px 16px rgba(255, 255, 255, .015),
  0 0 8px 18px rgba(255, 255, 255, .01),
  0 0 9px 20px rgba(255, 255, 255, .005);
  transition: ease;
  transition-duration: 300ms;
}

table {
  width: 100%;
}

td {
  border: none;
  width: 100%;
}

.column-a {
  text-align: right;
}

.column-b {
  text-align: left;
    min-width: 140px;
}

#server-status-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#status {
  font-size: 16px;
  font-weight: bold;
}

.online {
  color: #00cc00;
}

.offline {
  color: #ff0000;
}

#player-count {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#uptime {
  color: #fff;
  font-size: 16px;
}

#version {
  color: #999;
  font-size: 14px;
  font-style: italic;
}
